Administrator/Connected Services/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Servis" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveNaloge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveNalogeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="VratiSveNalogeResult" nillable="true" type="q1:ListaNaloga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujSeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrujSeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrikazKnjiga">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrikazKnjigaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="PrikazKnjigaResult" nillable="true" type="q2:ListaKnjiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PoruciKnjigu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="kupljena" nillable="true" type="q3:Knjiga" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="ulogovanKorisnik" nillable="true" type="q4:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PoruciKnjiguResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnosKnjige">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="autor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cena" type="xs:double" />
        <xs:element minOccurs="0" name="popust" type="xs:int" />
        <xs:element minOccurs="0" name="kolicina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnosKnjigeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmenaKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmenaKorisnikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmenaKnjige">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="izmenjenaKnjiga" nillable="true" type="q5:Knjiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmenaKnjigeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PregledPorudzbina">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PregledPorudzbinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="PregledPorudzbinaResult" nillable="true" type="q6:ListaPorudzbina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKnjigu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="knjiga" nillable="true" type="q7:Knjiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKnjiguResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiNalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="korisnik" nillable="true" type="q8:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiNalogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="webLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="webLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webLogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="webRegistrujSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="webRegistrujSeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webRegistrujSeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="webPrikazKnjiga">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="webPrikazKnjigaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Servis" minOccurs="0" name="webPrikazKnjigaResult" nillable="true" type="q9:ArrayOfKnjiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="webPoruciKnjigu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idKnjige" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="korisnickoIme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kolicina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="webPoruciKnjiguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="webPoruciKnjiguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>