Administrator/Connected Services/ServiceReference1/Servis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListaNaloga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaNaloga" nillable="true" type="tns:ListaNaloga" />
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_korisnika" type="xs:int" />
      <xs:element minOccurs="0" name="Korisnicko_ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lozinka" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="ListaKnjiga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Knjiga" nillable="true" type="tns:Knjiga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaKnjiga" nillable="true" type="tns:ListaKnjiga" />
  <xs:complexType name="Knjiga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cena" type="xs:double" />
      <xs:element minOccurs="0" name="Id_knjige" type="xs:int" />
      <xs:element minOccurs="0" name="Kolicina" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popust" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Knjiga" nillable="true" type="tns:Knjiga" />
  <xs:complexType name="ListaPorudzbina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Porudzbine" nillable="true" type="tns:Porudzbine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaPorudzbina" nillable="true" type="tns:ListaPorudzbina" />
  <xs:complexType name="Porudzbine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_knjige" type="xs:int" />
      <xs:element minOccurs="0" name="Id_korisnika" type="xs:int" />
      <xs:element minOccurs="0" name="Id_porudzbine" type="xs:int" />
      <xs:element minOccurs="0" name="Kolicina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Porudzbine" nillable="true" type="tns:Porudzbine" />
  <xs:complexType name="ArrayOfKnjiga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Knjiga" nillable="true" type="tns:Knjiga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnjiga" nillable="true" type="tns:ArrayOfKnjiga" />
</xs:schema>